certifi==2026.2.25
charset-normalizer==3.4.7
grpcio==1.80.0
grpcio-tools==1.80.0
idna==3.11
nexus-rpc==1.4.0
protobuf==6.33.6
python-dotenv==1.2.2
requests==2.33.1
setuptools==82.0.1
temporalio==1.24.0
types-protobuf==7.34.1.20260403
typing_extensions==4.15.0
urllib3==2.6.3
